<h1>To Do List</h1>

<form action="/" method="POST">

<label for="title">Title:</label>
<input type="text" placeholder="To do list title" name="title">
<br><br>
<label for="message">Details:</label>
<input type="text" placeholder="Add details" name="details">
<br><br>
<input type="submit" value="Add item to To-Do List"/>
</form>




